<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>momo0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>momo9</string>
	</dict>
</array>
</plist>
